<%- include('../layouts/header') %>

<div class="container">
    <div class="heading"><h3>Basic CRUD (List)</h3></h1>
        <td><a href="/add" class="btn btn-info">Add</a></td>
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Contact</th>
                <th colspan="2">Action</th>
              </tr>
            </thead>
            <tbody>
          <% all_data.map((data,index) => { %>
          
      <tr>
        <td><%= ++index %></td>
          <td><%= data._id.toString().slice(-5) %></td>
          <td><%= data.name%></td>
          <td><%= data.email%></td>
          <td><%= data.contact%></td>
          <td><a href="/edit/<%= data._id%>" class="btn btn-success">Edit</a></td>
          <td><a href="/delete/<%= data._id%>" class="btn btn-danger">Delete </a></td>

      </tr>

         <% }) %>
        </tbody>
          </table>
    </div>


<%- include('../layouts/footer') %>